#===============================================================================
# FMC0 IO Location Constraints
#===============================================================================

#----------------------------------------
# Clocks
#----------------------------------------
NET "fmc0_tdc_clk_125m_p_i"      LOC = "L20";
NET "fmc0_tdc_clk_125m_p_i"      IOSTANDARD = "LVDS_25";
NET "fmc0_tdc_clk_125m_p_i"      TNM_NET = "tdc_clk_125m_p_i";
TIMESPEC TS_fmc0_tdc_clk_125m_p_i = PERIOD "fmc0_tdc_clk_125m_p_i" 8 ns HIGH 50%;

NET "fmc0_tdc_clk_125m_n_i"      LOC = "L22";
NET "fmc0_tdc_clk_125m_n_i"      IOSTANDARD = "LVDS_25";
NET "fmc0_tdc_clk_125m_n_i"      TNM_NET = "tdc_clk_125m_n_i";
TIMESPEC TS_fmc0_tdc_clk_125m_n_i = PERIOD "fmc0_tdc_clk_125m_n_i" 8 ns HIGH 50%;

#----------------------------------------
# Others
#----------------------------------------
NET "fmc0_tdc_acam_refclk_p_i"   LOC = "E16";
NET "fmc0_tdc_acam_refclk_p_i"   IOSTANDARD = "LVDS_25";
NET "fmc0_tdc_acam_refclk_n_i"   LOC = "F16";
NET "fmc0_tdc_acam_refclk_n_i"   IOSTANDARD = "LVDS_25";
NET "fmc0_tdc_led_trig1_o"       LOC = "W18";
NET "fmc0_tdc_led_trig1_o"       IOSTANDARD = "LVCMOS25";
NET "fmc0_tdc_led_trig2_o"       LOC = "B20";
NET "fmc0_tdc_led_trig2_o"       IOSTANDARD = "LVCMOS25";
NET "fmc0_tdc_led_trig3_o"       LOC = "A20";
NET "fmc0_tdc_led_trig3_o"       IOSTANDARD = "LVCMOS25";
NET "fmc0_tdc_term_en_1_o"       LOC = "Y11";
NET "fmc0_tdc_term_en_1_o"       IOSTANDARD = "LVCMOS25";
NET "fmc0_tdc_term_en_2_o"       LOC = "AB11";
NET "fmc0_tdc_term_en_2_o"       IOSTANDARD = "LVCMOS25";
NET "fmc0_tdc_ef1_i"             LOC = "W12";
NET "fmc0_tdc_ef1_i"             IOSTANDARD = "LVCMOS25";
NET "fmc0_tdc_ef2_i"             LOC = "Y12";
NET "fmc0_tdc_ef2_i"             IOSTANDARD = "LVCMOS25";
NET "fmc0_tdc_term_en_3_o"       LOC = "R11";
NET "fmc0_tdc_term_en_3_o"       IOSTANDARD = "LVCMOS25";
NET "fmc0_tdc_term_en_4_o"       LOC = "T11";
NET "fmc0_tdc_term_en_4_o"       IOSTANDARD = "LVCMOS25";
NET "fmc0_tdc_term_en_5_o"       LOC = "R13";
NET "fmc0_tdc_term_en_5_o"       IOSTANDARD = "LVCMOS25";
NET "fmc0_tdc_led_status_o"      LOC = "T14";
NET "fmc0_tdc_led_status_o"      IOSTANDARD = "LVCMOS25";
NET "fmc0_tdc_led_trig4_o"       LOC = "D17";
NET "fmc0_tdc_led_trig4_o"       IOSTANDARD = "LVCMOS25";
NET "fmc0_tdc_led_trig5_o"       LOC = "C18";
NET "fmc0_tdc_led_trig5_o"       IOSTANDARD = "LVCMOS25";
NET "fmc0_tdc_pll_sclk_o"        LOC = "AA16";
NET "fmc0_tdc_pll_sclk_o"        IOSTANDARD = "LVCMOS25";
NET "fmc0_tdc_pll_dac_sync_o"    LOC = "AB16";
NET "fmc0_tdc_pll_dac_sync_o"    IOSTANDARD = "LVCMOS25";
NET "fmc0_tdc_pll_cs_o"          LOC = "Y17";
NET "fmc0_tdc_pll_cs_o"          IOSTANDARD = "LVCMOS25";
NET "fmc0_tdc_cs_n_o"            LOC = "AB17";
NET "fmc0_tdc_cs_n_o"            IOSTANDARD = "LVCMOS25";
NET "fmc0_tdc_err_flag_i"        LOC = "V11";
NET "fmc0_tdc_err_flag_i"        IOSTANDARD = "LVCMOS25";
NET "fmc0_tdc_int_flag_i"        LOC = "W11";
NET "fmc0_tdc_int_flag_i"        IOSTANDARD = "LVCMOS25";
NET "fmc0_tdc_start_dis_o"       LOC = "T15";
NET "fmc0_tdc_start_dis_o"       IOSTANDARD = "LVCMOS25";
NET "fmc0_tdc_stop_dis_o"        LOC = "U15";
NET "fmc0_tdc_stop_dis_o"        IOSTANDARD = "LVCMOS25";
NET "fmc0_tdc_pll_sdo_i"         LOC = "AB18";
NET "fmc0_tdc_pll_sdo_i"         IOSTANDARD = "LVCMOS25";
NET "fmc0_tdc_pll_status_i"      LOC = "Y18";
NET "fmc0_tdc_pll_status_i"      IOSTANDARD = "LVCMOS25";
NET "fmc0_tdc_pll_sdi_o"         LOC = "AA18";
NET "fmc0_tdc_pll_sdi_o"         IOSTANDARD = "LVCMOS25";
NET "fmc0_tdc_start_from_fpga_o" LOC = "W17";
NET "fmc0_tdc_start_from_fpga_o" IOSTANDARD = "LVCMOS25";
NET "fmc0_tdc_start_from_fpga_o" SLEW =  SLOW;
NET "fmc0_tdc_start_from_fpga_o" DRIVE = 4;
NET "fmc0_tdc_data_bus_io[27]"   LOC = "AB4";
NET "fmc0_tdc_data_bus_io[27]"   IOSTANDARD = "LVCMOS25";
NET "fmc0_tdc_data_bus_io[26]"   LOC = "AA4";
NET "fmc0_tdc_data_bus_io[26]"   IOSTANDARD = "LVCMOS25";
NET "fmc0_tdc_data_bus_io[25]"   LOC = "AB9";
NET "fmc0_tdc_data_bus_io[25]"   IOSTANDARD = "LVCMOS25";
NET "fmc0_tdc_data_bus_io[24]"   LOC = "Y9";
NET "fmc0_tdc_data_bus_io[24]"   IOSTANDARD = "LVCMOS25";
NET "fmc0_tdc_data_bus_io[23]"   LOC = "Y10";
NET "fmc0_tdc_data_bus_io[23]"   IOSTANDARD = "LVCMOS25";
NET "fmc0_tdc_data_bus_io[22]"   LOC = "W10";
NET "fmc0_tdc_data_bus_io[22]"   IOSTANDARD = "LVCMOS25";
NET "fmc0_tdc_data_bus_io[21]"   LOC = "U10";
NET "fmc0_tdc_data_bus_io[21]"   IOSTANDARD = "LVCMOS25";
NET "fmc0_tdc_data_bus_io[20]"   LOC = "T10";
NET "fmc0_tdc_data_bus_io[20]"   IOSTANDARD = "LVCMOS25";
NET "fmc0_tdc_data_bus_io[19]"   LOC = "AB8";
NET "fmc0_tdc_data_bus_io[19]"   IOSTANDARD = "LVCMOS25";
NET "fmc0_tdc_data_bus_io[18]"   LOC = "AA8";
NET "fmc0_tdc_data_bus_io[18]"   IOSTANDARD = "LVCMOS25";
NET "fmc0_tdc_data_bus_io[17]"   LOC = "AB7";
NET "fmc0_tdc_data_bus_io[17]"   IOSTANDARD = "LVCMOS25";
NET "fmc0_tdc_data_bus_io[16]"   LOC = "Y7";
NET "fmc0_tdc_data_bus_io[16]"   IOSTANDARD = "LVCMOS25";
NET "fmc0_tdc_data_bus_io[15]"   LOC = "V9";
NET "fmc0_tdc_data_bus_io[15]"   IOSTANDARD = "LVCMOS25";
NET "fmc0_tdc_data_bus_io[14]"   LOC = "U9";
NET "fmc0_tdc_data_bus_io[14]"   IOSTANDARD = "LVCMOS25";
NET "fmc0_tdc_data_bus_io[13]"   LOC = "AB6";
NET "fmc0_tdc_data_bus_io[13]"   IOSTANDARD = "LVCMOS25";
NET "fmc0_tdc_data_bus_io[12]"   LOC = "AA6";
NET "fmc0_tdc_data_bus_io[12]"   IOSTANDARD = "LVCMOS25";
NET "fmc0_tdc_data_bus_io[11]"   LOC = "R8";
NET "fmc0_tdc_data_bus_io[11]"   IOSTANDARD = "LVCMOS25";
NET "fmc0_tdc_data_bus_io[10]"   LOC = "R9";
NET "fmc0_tdc_data_bus_io[10]"   IOSTANDARD = "LVCMOS25";
NET "fmc0_tdc_data_bus_io[9]"    LOC = "AB5";
NET "fmc0_tdc_data_bus_io[9]"    IOSTANDARD = "LVCMOS25";
NET "fmc0_tdc_data_bus_io[8]"    LOC = "Y5";
NET "fmc0_tdc_data_bus_io[8]"    IOSTANDARD = "LVCMOS25";
NET "fmc0_tdc_data_bus_io[7]"    LOC = "AB12";
NET "fmc0_tdc_data_bus_io[7]"    IOSTANDARD = "LVCMOS25";
NET "fmc0_tdc_data_bus_io[6]"    LOC = "U8";
NET "fmc0_tdc_data_bus_io[6]"    IOSTANDARD = "LVCMOS25";
NET "fmc0_tdc_data_bus_io[5]"    LOC = "AA12";
NET "fmc0_tdc_data_bus_io[5]"    IOSTANDARD = "LVCMOS25";
NET "fmc0_tdc_data_bus_io[4]"    LOC = "T8";
NET "fmc0_tdc_data_bus_io[4]"    IOSTANDARD = "LVCMOS25";
NET "fmc0_tdc_data_bus_io[3]"    LOC = "W8";
NET "fmc0_tdc_data_bus_io[3]"    IOSTANDARD = "LVCMOS25";
NET "fmc0_tdc_data_bus_io[2]"    LOC = "V7";
NET "fmc0_tdc_data_bus_io[2]"    IOSTANDARD = "LVCMOS25";
NET "fmc0_tdc_data_bus_io[1]"    LOC = "Y6";
NET "fmc0_tdc_data_bus_io[1]"    IOSTANDARD = "LVCMOS25";
NET "fmc0_tdc_data_bus_io[0]"    LOC = "W6";
NET "fmc0_tdc_data_bus_io[0]"    IOSTANDARD = "LVCMOS25";
NET "fmc0_tdc_address_o[3]"      LOC = "AB15";
NET "fmc0_tdc_address_o[3]"      IOSTANDARD = "LVCMOS25";
NET "fmc0_tdc_address_o[2]"      LOC = "Y15";
NET "fmc0_tdc_address_o[2]"      IOSTANDARD = "LVCMOS25";
NET "fmc0_tdc_address_o[1]"      LOC = "U12";
NET "fmc0_tdc_address_o[1]"      IOSTANDARD = "LVCMOS25";
NET "fmc0_tdc_address_o[0]"      LOC = "T12";
NET "fmc0_tdc_address_o[0]"      IOSTANDARD = "LVCMOS25";
NET "fmc0_tdc_oe_n_o"            LOC = "V13";
NET "fmc0_tdc_oe_n_o"            IOSTANDARD = "LVCMOS25";
NET "fmc0_tdc_oe_n_o"            SLEW =  SLOW;
NET "fmc0_tdc_oe_n_o"            DRIVE = 4;
NET "fmc0_tdc_rd_n_o"            LOC = "AB13";
NET "fmc0_tdc_rd_n_o"            IOSTANDARD = "LVCMOS25";
NET "fmc0_tdc_rd_n_o"            SLEW =  SLOW;
NET "fmc0_tdc_rd_n_o"            DRIVE = 4;
NET "fmc0_tdc_wr_n_o"            LOC = "Y13";
NET "fmc0_tdc_wr_n_o"            IOSTANDARD = "LVCMOS25";
NET "fmc0_tdc_wr_n_o"            SLEW =  SLOW;
NET "fmc0_tdc_wr_n_o"            DRIVE = 4;
NET "fmc0_tdc_enable_inputs_o"   LOC = "C19";
NET "fmc0_tdc_enable_inputs_o"   IOSTANDARD = "LVCMOS25";
NET "fmc0_tdc_onewire_b"         LOC = "A19";
NET "fmc0_tdc_onewire_b"         IOSTANDARD = "LVCMOS25";
### TDC IN FPGA (not used):
NET "fmc0_tdc_in_fpga_1_i"       LOC = V17;
NET "fmc0_tdc_in_fpga_1_i"       IOSTANDARD = "LVCMOS25";

#===============================================================================
# Timing constraints and exceptions
#===============================================================================






