[submodule "hdl/ip-cores/general-cores"]
	path = hdl/ip_cores/general-cores
	url = https://ohwr.org/project/general-cores.git
[submodule "hdl/ip_cores/wr-cores"]
	path = hdl/ip_cores/wr-cores
	url = https://ohwr.org/project/wr-cores.git
[submodule "hdl/ip_cores/vme64x-core"]
	path = hdl/ip_cores/vme64x-core
	url = https://ohwr.org/project/vme64x-core.git
[submodule "hdl/ip_cores/gn4124-core"]
	path = hdl/ip_cores/gn4124-core
	url = https://ohwr.org/project/gn4124-core.git
[submodule "hdl/ip_cores/ddr3-sp6-core"]
	path = hdl/ip_cores/ddr3-sp6-core
	url = https://ohwr.org/project/ddr3-sp6-core.git
[submodule "hdl/ip_cores/spec"]
	path = hdl/ip_cores/spec
	url = https://ohwr.org/project/spec.git
[submodule "hdl/ip_cores/svec"]
	path = hdl/ip_cores/svec
	url = https://ohwr.org/project/svec.git
[submodule "zio"]
	path = software/zio
	url = git://ohwr.org/misc/zio.git
