# SPDX-FileCopyrightText: 2022 CERN (home.cern)
#
# SPDX-License-Identifier: CC0-1.0

*.*\#
\#*
.\#*
*.*~
modelsim.ini
*.wlf
*.vstf
work
*.bak
hdl/syn/*
transcript
work/
NullFile
*.orig
*.html
*.o
*.ko
*~
*.mod
*.mod.c
/.tmp_versions
.*cmd
modules.order
Module.symvers
*TAGS
GPATH
Makefile.specific
*.o.*
*.a
*.so.*
*.s
*.bin
*.elf
