# SPDX-FileCopyrightText: 2022 CERN (home.cern)
#
# SPDX-License-Identifier: LGPL-2.1-or-later

hw/tdc_dma_eic.h
hw/tdc_onewire_regs.h
hw/tdc_buffer_control_regs.h
hw/timestamp_fifo_regs.h
hw/channel_regs.h
.tmp_versions