#===============================================================================
# The IO Location Constraints
#===============================================================================

#
# Clocks
#

NET "clk_20m_vcxo_i" TNM_NET = "clk_20m_vcxo_i";
TIMESPEC TS_clk_20m_vcxo_i = PERIOD "clk_20m_vcxo_i" 50 ns HIGH 50%;

NET "tdc_125m_clk_p_i" TNM_NET = tdc_125m_clk_p_i;
TIMESPEC TS_tdc_125m_clk_p_i = PERIOD "tdc_125m_clk_p_i" 8 ns HIGH 50%;

NET "tdc_125m_clk_n_i" TNM_NET = tdc_125m_clk_n_i;
TIMESPEC TS_tdc_125m_clk_n_i = PERIOD "tdc_125m_clk_n_i" 8 ns HIGH 50%;

NET "acam_refclk_p_i" TNM_NET = acam_refclk_p_i;
TIMESPEC TS_acam_refclk_p_i = PERIOD "acam_refclk_p_i" 32 ns HIGH 50%;

NET "acam_refclk_n_i" TNM_NET = acam_refclk_n_i;
TIMESPEC TS_acam_refclk_n_i = PERIOD "acam_refclk_n_i" 32 ns HIGH 50%;

NET "clk_62m5_pllxilinx" TNM_NET = "clk_62m5_pllxilinx";
NET "clk_125m" TNM_NET = "clk_125m";
TIMESPEC ts_ignore_xclock1 = FROM "clk_62m5_pllxilinx" TO "clk_125m" 20ns DATAPATHONLY;
TIMESPEC ts_ignore_xclock2 = FROM "clk_125m" TO "clk_62m5_pllxilinx" 20ns DATAPATHONLY;


#
# Clock to Clock
#

#
# Inputs/Outputs
#


#
# Registers
#

#
# Delay Paths
#

#===============================================================================
# False Path
#===============================================================================
# has to be multicycle path of 3 cycles!! 
NET "data_bus_io[0]" TIG;
NET "data_bus_io[1]" TIG;
NET "data_bus_io[2]" TIG;
NET "data_bus_io[3]" TIG;
NET "data_bus_io[4]" TIG;
NET "data_bus_io[5]" TIG;
NET "data_bus_io[6]" TIG;
NET "data_bus_io[7]" TIG;
NET "data_bus_io[8]" TIG;
NET "data_bus_io[9]" TIG;
NET "data_bus_io[10]" TIG;
NET "data_bus_io[11]" TIG;
NET "data_bus_io[12]" TIG;
NET "data_bus_io[13]" TIG;
NET "data_bus_io[14]" TIG;
NET "data_bus_io[15]" TIG;
NET "data_bus_io[16]" TIG;
NET "data_bus_io[17]" TIG;
NET "data_bus_io[18]" TIG;
NET "data_bus_io[19]" TIG;
NET "data_bus_io[20]" TIG;
NET "data_bus_io[21]" TIG;
NET "data_bus_io[22]" TIG;
NET "data_bus_io[23]" TIG;
NET "data_bus_io[24]" TIG;
NET "data_bus_io[25]" TIG;
NET "data_bus_io[26]" TIG;
NET "data_bus_io[27]" TIG;
NET "address_o[0]" TIG;
NET "address_o[1]" TIG;
NET "address_o[2]" TIG;
NET "address_o[3]" TIG;

NET "tdc_led_status_o" TIG;
NET "tdc_led_trig1_o" TIG;
NET "tdc_led_trig2_o" TIG;
NET "tdc_led_trig3_o" TIG;
NET "tdc_led_trig4_o" TIG;
NET "tdc_led_trig5_o" TIG;

#
# Attributes
#

NET "clk_20m_vcxo_i" LOC = V26;
NET "por_n_i" LOC = AD28;
NET "acam_refclk_p_i" LOC = H15;
NET "acam_refclk_n_i" LOC = G15;
NET "tdc_125m_clk_p_i" LOC = E16;
NET "tdc_125m_clk_n_i" LOC = D16;
NET "pll_sclk_o" LOC = M15;
NET "pll_sdo_i" LOC = L13;
NET "pll_sdi_o" LOC = M13;
NET "pll_cs_n_o" LOC = L14;
NET "pll_dac_sync_n_o" LOC = K15;
NET "pll_status_i" LOC = E9;
NET "start_from_fpga_o" LOC = F9;
NET "err_flag_i" LOC = H16;
NET "int_flag_i" LOC = G16;
#NET "start_dis_o" LOC = F11;
#NET "stop_dis_o" LOC = E11;
NET "data_bus_io[27]" LOC = E17;
NET "data_bus_io[26]" LOC = F17;
NET "data_bus_io[25]" LOC = F18;
NET "data_bus_io[24]" LOC = G18;
NET "data_bus_io[23]" LOC = F20;
NET "data_bus_io[22]" LOC = G20;
NET "data_bus_io[21]" LOC = E21;
NET "data_bus_io[20]" LOC = F21;
NET "data_bus_io[19]" LOC = K21;
NET "data_bus_io[18]" LOC = L21;
NET "data_bus_io[17]" LOC = L20;
NET "data_bus_io[16]" LOC = M20;
NET "data_bus_io[15]" LOC = F22;
NET "data_bus_io[14]" LOC = G22;
NET "data_bus_io[13]" LOC = L19;
NET "data_bus_io[12]" LOC = M19;
NET "data_bus_io[11]" LOC = E23;
NET "data_bus_io[10]" LOC = F23;
NET "data_bus_io[9]" LOC = A25;
NET "data_bus_io[8]" LOC = B25;
NET "data_bus_io[7]" LOC = G21;
NET "data_bus_io[6]" LOC = C24;
NET "data_bus_io[5]" LOC = H21;
NET "data_bus_io[4]" LOC = D24;
NET "data_bus_io[3]" LOC = D25;
NET "data_bus_io[2]" LOC = E25;
NET "data_bus_io[1]" LOC = H22;
NET "data_bus_io[0]" LOC = J22;
NET "address_o[3]" LOC = F14;
NET "address_o[2]" LOC = G14;
NET "address_o[1]" LOC = H14;
NET "address_o[0]" LOC = J14;
NET "cs_n_o" LOC = K14;
NET "oe_n_o" LOC = G12;
NET "rd_n_o" LOC = A15;
NET "wr_n_o" LOC = B15;
NET "ef2_i" LOC = E19;
NET "ef1_i" LOC = F19;
NET "enable_inputs_o" LOC = J12;
NET "term_en_1_o" LOC = C16;
NET "term_en_2_o" LOC = A16;
NET "term_en_3_o" LOC = F15;
NET "term_en_4_o" LOC = E15;
NET "term_en_5_o" LOC = F13;
NET "tdc_led_status_o" LOC = E13;
NET "tdc_led_trig1_o" LOC = H13;
NET "tdc_led_trig2_o" LOC = H11;
NET "tdc_led_trig3_o" LOC = G11;
NET "tdc_led_trig4_o" LOC = L11;
NET "tdc_led_trig5_o" LOC = K11;
NET "carrier_one_wire_b" LOC = AC30;
NET "mezz_one_wire_b" LOC = H12;
NET "sys_scl_b" LOC = P28;
NET "sys_sda_b" LOC = P30;
NET "pcb_ver_i[0]" LOC = AD20;
NET "pcb_ver_i[1]" LOC = AE20;
NET "pcb_ver_i[2]" LOC = AD18;
NET "pcb_ver_i[3]" LOC = AE17;
NET "prsnt_m2c_n_i" LOC = N30;
NET "fp_ledn_o[0]" LOC = AD27;
NET "fp_ledn_o[1]" LOC = AD26;
NET "fp_ledn_o[2]" LOC = AC28;
NET "fp_ledn_o[3]" LOC = AC27;
NET "fp_ledn_o[4]" LOC = AE27;
NET "fp_ledn_o[5]" LOC = AE30;
NET "fp_ledn_o[6]" LOC = AF28;
NET "fp_ledn_o[7]" LOC = AE28;
NET "vme_write_n_i" LOC = R1;
NET "vme_retry_oe_o" LOC = R4;
NET "vme_retry_n_o" LOC = AB2;
NET "vme_lword_n_b" LOC = M7;
NET "vme_iackout_n_o" LOC = N3;
NET "vme_iackin_n_i" LOC = P7;
NET "vme_iack_n_i" LOC = N1;
NET "vme_ga_i[5]" LOC = M6;
NET "vme_dtack_oe_o" LOC = T1;
NET "vme_dtack_n_o" LOC = R5;
NET "vme_ds_n_i[1]" LOC = Y6;
NET "vme_ds_n_i[0]" LOC = Y7;
NET "vme_data_oe_n_o" LOC = P1;
NET "vme_data_dir_o" LOC = P2;
NET "vme_berr_o" LOC = R3;
NET "vme_as_n_i" LOC = P6;
NET "vme_addr_oe_n_o" LOC = N4;
NET "vme_addr_dir_o" LOC = N5;
NET "vme_irq_n_o[6]" LOC = R7;
NET "vme_irq_n_o[5]" LOC = AH2;
NET "vme_irq_n_o[4]" LOC = AF2;
NET "vme_irq_n_o[3]" LOC = N9;
NET "vme_irq_n_o[2]" LOC = N10;
NET "vme_irq_n_o[1]" LOC = AH4;
NET "vme_irq_n_o[0]" LOC = AG4;
NET "vme_ga_i[4]" LOC = V9;
NET "vme_ga_i[3]" LOC = V10;
NET "vme_ga_i[2]" LOC = AJ1;
NET "vme_ga_i[1]" LOC = AH1;
NET "vme_ga_i[0]" LOC = V7;
NET "vme_data_b[31]" LOC = AK3;
NET "vme_data_b[30]" LOC = AH3;
NET "vme_data_b[29]" LOC = T8;
NET "vme_data_b[28]" LOC = T9;
NET "vme_data_b[27]" LOC = AK4;
NET "vme_data_b[26]" LOC = AJ4;
NET "vme_data_b[25]" LOC = W6;
NET "vme_data_b[24]" LOC = W7;
NET "vme_data_b[23]" LOC = AB6;
NET "vme_data_b[22]" LOC = AB7;
NET "vme_data_b[21]" LOC = W9;
NET "vme_data_b[20]" LOC = W10;
NET "vme_data_b[19]" LOC = AK5;
NET "vme_data_b[18]" LOC = AH5;
NET "vme_data_b[17]" LOC = AD6;
NET "vme_data_b[16]" LOC = AC6;
NET "vme_data_b[15]" LOC = AA6;
NET "vme_data_b[14]" LOC = AA7;
NET "vme_data_b[13]" LOC = T6;
NET "vme_data_b[12]" LOC = T7;
NET "vme_data_b[11]" LOC = AG5;
NET "vme_data_b[10]" LOC = AE5;
NET "vme_data_b[9]" LOC = Y11;
NET "vme_data_b[8]" LOC = W11;
NET "vme_data_b[7]" LOC = AF6;
NET "vme_data_b[6]" LOC = AE6;
NET "vme_data_b[5]" LOC = Y8;
NET "vme_data_b[4]" LOC = Y9;
NET "vme_data_b[3]" LOC = AE7;
NET "vme_data_b[2]" LOC = AD7;
NET "vme_data_b[1]" LOC = AA9;
NET "vme_data_b[0]" LOC = AA10;
NET "vme_am_i[5]" LOC = V8;
NET "vme_am_i[4]" LOC = AG3;
NET "vme_am_i[3]" LOC = AF3;
NET "vme_am_i[2]" LOC = AF4;
NET "vme_am_i[1]" LOC = AE4;
NET "vme_am_i[0]" LOC = AK2;
NET "vme_addr_b[31]" LOC = T2;
NET "vme_addr_b[30]" LOC = T3;
NET "vme_addr_b[29]" LOC = T4;
NET "vme_addr_b[28]" LOC = U1;
NET "vme_addr_b[27]" LOC = U3;
NET "vme_addr_b[26]" LOC = U4;
NET "vme_addr_b[25]" LOC = U5;
NET "vme_addr_b[24]" LOC = V1;
NET "vme_addr_b[23]" LOC = V2;
NET "vme_addr_b[22]" LOC = W1;
NET "vme_addr_b[21]" LOC = W3;
NET "vme_addr_b[20]" LOC = AA4;
NET "vme_addr_b[19]" LOC = AA5;
NET "vme_addr_b[18]" LOC = Y1;
NET "vme_addr_b[17]" LOC = Y2;
NET "vme_addr_b[16]" LOC = Y3;
NET "vme_addr_b[15]" LOC = Y4;
NET "vme_addr_b[14]" LOC = AC1;
NET "vme_addr_b[13]" LOC = AC3;
NET "vme_addr_b[12]" LOC = AD1;
NET "vme_addr_b[11]" LOC = AD2;
NET "vme_addr_b[10]" LOC = AB3;
NET "vme_addr_b[9]" LOC = AB4;
NET "vme_addr_b[8]" LOC = AD3;
NET "vme_addr_b[7]" LOC = AD4;
NET "vme_addr_b[6]" LOC = AC4;
NET "vme_addr_b[5]" LOC = AC5;
NET "vme_addr_b[4]" LOC = N7;
NET "vme_addr_b[3]" LOC = N8;
NET "vme_addr_b[2]" LOC = AE1;
NET "vme_addr_b[1]" LOC = AE3;

#
# I/O Standards
#
NET "clk_20m_vcxo_i" IOSTANDARD = "LVCMOS33";
NET "por_n_i" IOSTANDARD = "LVCMOS33";
NET "acam_refclk_p_i" IOSTANDARD = "DIFF_SSTL18_II";
NET "acam_refclk_n_i" IOSTANDARD = "DIFF_SSTL18_II";
NET "tdc_125m_clk_p_i" IOSTANDARD = "DIFF_SSTL18_II";
NET "tdc_125m_clk_n_i" IOSTANDARD = "DIFF_SSTL18_II";
NET "pll_sclk_o" IOSTANDARD = "LVCMOS25";
NET "pll_dac_sync_n_o" IOSTANDARD = "LVCMOS25";
NET "pll_cs_n_o" IOSTANDARD = "LVCMOS25";
NET "pll_status_i" IOSTANDARD = "LVCMOS25";
NET "pll_sdo_i" IOSTANDARD = "LVCMOS25";
NET "pll_sdi_o" IOSTANDARD = "LVCMOS25";
NET "err_flag_i" IOSTANDARD = "LVCMOS25";
NET "int_flag_i" IOSTANDARD = "LVCMOS25";
#NET "start_dis_o" IOSTANDARD = "LVCMOS25";
#NET "stop_dis_o" IOSTANDARD = "LVCMOS25";
NET "start_from_fpga_o" IOSTANDARD = "LVCMOS25";
NET "data_bus_io[0]" IOSTANDARD = "LVCMOS25";
NET "data_bus_io[1]" IOSTANDARD = "LVCMOS25";
NET "data_bus_io[2]" IOSTANDARD = "LVCMOS25";
NET "data_bus_io[3]" IOSTANDARD = "LVCMOS25";
NET "data_bus_io[4]" IOSTANDARD = "LVCMOS25";
NET "data_bus_io[5]" IOSTANDARD = "LVCMOS25";
NET "data_bus_io[6]" IOSTANDARD = "LVCMOS25";
NET "data_bus_io[7]" IOSTANDARD = "LVCMOS25";
NET "data_bus_io[8]" IOSTANDARD = "LVCMOS25";
NET "data_bus_io[9]" IOSTANDARD = "LVCMOS25";
NET "data_bus_io[10]" IOSTANDARD = "LVCMOS25";
NET "data_bus_io[11]" IOSTANDARD = "LVCMOS25";
NET "data_bus_io[12]" IOSTANDARD = "LVCMOS25";
NET "data_bus_io[13]" IOSTANDARD = "LVCMOS25";
NET "data_bus_io[14]" IOSTANDARD = "LVCMOS25";
NET "data_bus_io[15]" IOSTANDARD = "LVCMOS25";
NET "data_bus_io[16]" IOSTANDARD = "LVCMOS25";
NET "data_bus_io[17]" IOSTANDARD = "LVCMOS25";
NET "data_bus_io[18]" IOSTANDARD = "LVCMOS25";
NET "data_bus_io[19]" IOSTANDARD = "LVCMOS25";
NET "data_bus_io[20]" IOSTANDARD = "LVCMOS25";
NET "data_bus_io[21]" IOSTANDARD = "LVCMOS25";
NET "data_bus_io[22]" IOSTANDARD = "LVCMOS25";
NET "data_bus_io[23]" IOSTANDARD = "LVCMOS25";
NET "data_bus_io[24]" IOSTANDARD = "LVCMOS25";
NET "data_bus_io[25]" IOSTANDARD = "LVCMOS25";
NET "data_bus_io[26]" IOSTANDARD = "LVCMOS25";
NET "data_bus_io[27]" IOSTANDARD = "LVCMOS25";
NET "address_o[0]" IOSTANDARD = "LVCMOS25";
NET "address_o[1]" IOSTANDARD = "LVCMOS25";
NET "address_o[2]" IOSTANDARD = "LVCMOS25";
NET "address_o[3]" IOSTANDARD = "LVCMOS25";
NET "cs_n_o" IOSTANDARD = "LVCMOS25";
NET "oe_n_o" IOSTANDARD = "LVCMOS25";
NET "rd_n_o" IOSTANDARD = "LVCMOS25";
NET "wr_n_o" IOSTANDARD = "LVCMOS25";
NET "ef1_i" IOSTANDARD = "LVCMOS25";
NET "ef2_i" IOSTANDARD = "LVCMOS25";
NET "enable_inputs_o" IOSTANDARD = "LVCMOS25";
NET "term_en_1_o" IOSTANDARD = "LVCMOS25";
NET "term_en_2_o" IOSTANDARD = "LVCMOS25";
NET "term_en_3_o" IOSTANDARD = "LVCMOS25";
NET "term_en_4_o" IOSTANDARD = "LVCMOS25";
NET "term_en_5_o" IOSTANDARD = "LVCMOS25";
NET "tdc_led_status_o" IOSTANDARD = "LVCMOS25";
NET "tdc_led_trig1_o" IOSTANDARD = "LVCMOS25";
NET "tdc_led_trig2_o" IOSTANDARD = "LVCMOS25";
NET "tdc_led_trig3_o" IOSTANDARD = "LVCMOS25";
NET "tdc_led_trig4_o" IOSTANDARD = "LVCMOS25";
NET "tdc_led_trig5_o" IOSTANDARD = "LVCMOS25";
NET "carrier_one_wire_b" IOSTANDARD = "LVCMOS33";
NET "mezz_one_wire_b" IOSTANDARD = "LVCMOS25";
NET "sys_scl_b" IOSTANDARD = "LVCMOS33";
NET "sys_sda_b" IOSTANDARD = "LVCMOS33";
NET "pcb_ver_i[0]" IOSTANDARD = "LVCMOS15";
NET "pcb_ver_i[1]" IOSTANDARD = "LVCMOS15";
NET "pcb_ver_i[2]" IOSTANDARD = "LVCMOS15";
NET "pcb_ver_i[3]" IOSTANDARD = "LVCMOS15";
NET "prsnt_m2c_n_i" IOSTANDARD = "LVCMOS33";
NET "fp_ledn_o[0]" IOSTANDARD = "LVCMOS33";
NET "fp_ledn_o[1]" IOSTANDARD = "LVCMOS33";
NET "fp_ledn_o[2]" IOSTANDARD = "LVCMOS33";
NET "fp_ledn_o[3]" IOSTANDARD = "LVCMOS33";
NET "fp_ledn_o[4]" IOSTANDARD = "LVCMOS33";
NET "fp_ledn_o[5]" IOSTANDARD = "LVCMOS33";
NET "fp_ledn_o[6]" IOSTANDARD = "LVCMOS33";
NET "fp_ledn_o[7]" IOSTANDARD = "LVCMOS33";
NET "vme_retry_oe_o" IOSTANDARD = "LVCMOS33";
NET "vme_retry_n_o" IOSTANDARD = "LVCMOS33";
NET "vme_lword_n_b" IOSTANDARD = "LVCMOS33";
NET "vme_iackout_n_o" IOSTANDARD = "LVCMOS33";
NET "vme_iackin_n_i" IOSTANDARD = "LVCMOS33";
NET "vme_iack_n_i" IOSTANDARD = "LVCMOS33";
NET "vme_ga_i[5]" IOSTANDARD = "LVCMOS33";
NET "vme_ga_i[4]" IOSTANDARD = "LVCMOS33";
NET "vme_ga_i[3]" IOSTANDARD = "LVCMOS33";
NET "vme_ga_i[2]" IOSTANDARD = "LVCMOS33";
NET "vme_ga_i[1]" IOSTANDARD = "LVCMOS33";
NET "vme_ga_i[0]" IOSTANDARD = "LVCMOS33";
NET "vme_dtack_oe_o" IOSTANDARD = "LVCMOS33";
NET "vme_dtack_n_o" IOSTANDARD = "LVCMOS33";
NET "vme_ds_n_i[1]" IOSTANDARD = "LVCMOS33";
NET "vme_ds_n_i[0]" IOSTANDARD = "LVCMOS33";
NET "vme_data_oe_n_o" IOSTANDARD = "LVCMOS33";
NET "vme_data_dir_o" IOSTANDARD = "LVCMOS33";
NET "vme_berr_o" IOSTANDARD = "LVCMOS33";
NET "vme_as_n_i" IOSTANDARD = "LVCMOS33";
NET "vme_addr_oe_n_o" IOSTANDARD = "LVCMOS33";
NET "vme_addr_dir_o" IOSTANDARD = "LVCMOS33";
NET "vme_irq_n_o[6]" IOSTANDARD = "LVCMOS33";
NET "vme_irq_n_o[5]" IOSTANDARD = "LVCMOS33";
NET "vme_irq_n_o[4]" IOSTANDARD = "LVCMOS33";
NET "vme_irq_n_o[3]" IOSTANDARD = "LVCMOS33";
NET "vme_irq_n_o[2]" IOSTANDARD = "LVCMOS33";
NET "vme_irq_n_o[1]" IOSTANDARD = "LVCMOS33";
NET "vme_irq_n_o[0]" IOSTANDARD = "LVCMOS33";
NET "vme_data_b[31]" IOSTANDARD = "LVCMOS33";
NET "vme_data_b[30]" IOSTANDARD = "LVCMOS33";
NET "vme_data_b[29]" IOSTANDARD = "LVCMOS33";
NET "vme_data_b[28]" IOSTANDARD = "LVCMOS33";
NET "vme_data_b[27]" IOSTANDARD = "LVCMOS33";
NET "vme_data_b[26]" IOSTANDARD = "LVCMOS33";
NET "vme_data_b[25]" IOSTANDARD = "LVCMOS33";
NET "vme_data_b[24]" IOSTANDARD = "LVCMOS33";
NET "vme_data_b[23]" IOSTANDARD = "LVCMOS33";
NET "vme_data_b[22]" IOSTANDARD = "LVCMOS33";
NET "vme_data_b[21]" IOSTANDARD = "LVCMOS33";
NET "vme_data_b[20]" IOSTANDARD = "LVCMOS33";
NET "vme_data_b[19]" IOSTANDARD = "LVCMOS33";
NET "vme_data_b[18]" IOSTANDARD = "LVCMOS33";
NET "vme_data_b[17]" IOSTANDARD = "LVCMOS33";
NET "vme_data_b[16]" IOSTANDARD = "LVCMOS33";
NET "vme_data_b[15]" IOSTANDARD = "LVCMOS33";
NET "vme_data_b[14]" IOSTANDARD = "LVCMOS33";
NET "vme_data_b[13]" IOSTANDARD = "LVCMOS33";
NET "vme_data_b[12]" IOSTANDARD = "LVCMOS33";
NET "vme_data_b[11]" IOSTANDARD = "LVCMOS33";
NET "vme_data_b[10]" IOSTANDARD = "LVCMOS33";
NET "vme_data_b[9]" IOSTANDARD = "LVCMOS33";
NET "vme_data_b[8]" IOSTANDARD = "LVCMOS33";
NET "vme_data_b[7]" IOSTANDARD = "LVCMOS33";
NET "vme_data_b[6]" IOSTANDARD = "LVCMOS33";
NET "vme_data_b[5]" IOSTANDARD = "LVCMOS33";
NET "vme_data_b[4]" IOSTANDARD = "LVCMOS33";
NET "vme_data_b[3]" IOSTANDARD = "LVCMOS33";
NET "vme_data_b[2]" IOSTANDARD = "LVCMOS33";
NET "vme_data_b[1]" IOSTANDARD = "LVCMOS33";
NET "vme_data_b[0]" IOSTANDARD = "LVCMOS33";
NET "vme_am_i[5]" IOSTANDARD = "LVCMOS33";
NET "vme_am_i[4]" IOSTANDARD = "LVCMOS33";
NET "vme_am_i[3]" IOSTANDARD = "LVCMOS33";
NET "vme_am_i[2]" IOSTANDARD = "LVCMOS33";
NET "vme_am_i[1]" IOSTANDARD = "LVCMOS33";
NET "vme_am_i[0]" IOSTANDARD = "LVCMOS33";
NET "vme_addr_b[31]" IOSTANDARD = "LVCMOS33";
NET "vme_addr_b[30]" IOSTANDARD = "LVCMOS33";
NET "vme_addr_b[29]" IOSTANDARD = "LVCMOS33";
NET "vme_addr_b[28]" IOSTANDARD = "LVCMOS33";
NET "vme_addr_b[27]" IOSTANDARD = "LVCMOS33";
NET "vme_addr_b[26]" IOSTANDARD = "LVCMOS33";
NET "vme_addr_b[25]" IOSTANDARD = "LVCMOS33";
NET "vme_addr_b[24]" IOSTANDARD = "LVCMOS33";
NET "vme_addr_b[23]" IOSTANDARD = "LVCMOS33";
NET "vme_addr_b[22]" IOSTANDARD = "LVCMOS33";
NET "vme_addr_b[21]" IOSTANDARD = "LVCMOS33";
NET "vme_addr_b[20]" IOSTANDARD = "LVCMOS33";
NET "vme_addr_b[19]" IOSTANDARD = "LVCMOS33";
NET "vme_addr_b[18]" IOSTANDARD = "LVCMOS33";
NET "vme_addr_b[17]" IOSTANDARD = "LVCMOS33";
NET "vme_addr_b[16]" IOSTANDARD = "LVCMOS33";
NET "vme_addr_b[15]" IOSTANDARD = "LVCMOS33";
NET "vme_addr_b[14]" IOSTANDARD = "LVCMOS33";
NET "vme_addr_b[13]" IOSTANDARD = "LVCMOS33";
NET "vme_addr_b[12]" IOSTANDARD = "LVCMOS33";
NET "vme_addr_b[11]" IOSTANDARD = "LVCMOS33";
NET "vme_addr_b[10]" IOSTANDARD = "LVCMOS33";
NET "vme_addr_b[9]" IOSTANDARD = "LVCMOS33";
NET "vme_addr_b[8]" IOSTANDARD = "LVCMOS33";
NET "vme_addr_b[7]" IOSTANDARD = "LVCMOS33";
NET "vme_addr_b[6]" IOSTANDARD = "LVCMOS33";
NET "vme_addr_b[5]" IOSTANDARD = "LVCMOS33";
NET "vme_addr_b[4]" IOSTANDARD = "LVCMOS33";
NET "vme_addr_b[3]" IOSTANDARD = "LVCMOS33";
NET "vme_addr_b[2]" IOSTANDARD = "LVCMOS33";
NET "vme_addr_b[1]" IOSTANDARD = "LVCMOS33";

#
# Compile Points
#

#
# Other
#
