
#----------------------------------------
# FMC0
#----------------------------------------
# <ucfgen_start>
# This section has bee generated automatically by ucfgen.py. Do not hand-modify if not really necessary.
# ucfgen pin assignments for mezzanine fmc-tdc-v3 slot 0
NET "fmc0_tdc_acam_refclk_p_i" LOC = H15;
NET "fmc0_tdc_acam_refclk_p_i" IOSTANDARD = LVDS_25;
NET "fmc0_tdc_acam_refclk_n_i" LOC = G15;
NET "fmc0_tdc_acam_refclk_n_i" IOSTANDARD = LVDS_25;
NET "fmc0_tdc_clk_125m_p_i" LOC = E16;
NET "fmc0_tdc_clk_125m_p_i" IOSTANDARD = LVDS_25;
NET "fmc0_tdc_clk_125m_n_i" LOC = D16;
NET "fmc0_tdc_clk_125m_n_i" IOSTANDARD = LVDS_25;
NET "fmc0_tdc_led_trig1_o" LOC = H13;
NET "fmc0_tdc_led_trig1_o" IOSTANDARD = LVCMOS25;
NET "fmc0_tdc_led_trig2_o" LOC = H11;
NET "fmc0_tdc_led_trig2_o" IOSTANDARD = LVCMOS25;
NET "fmc0_tdc_led_trig3_o" LOC = G11;
NET "fmc0_tdc_led_trig3_o" IOSTANDARD = LVCMOS25;
NET "fmc0_tdc_term_en_1_o" LOC = C16;
NET "fmc0_tdc_term_en_1_o" IOSTANDARD = LVCMOS25;
NET "fmc0_tdc_term_en_2_o" LOC = A16;
NET "fmc0_tdc_term_en_2_o" IOSTANDARD = LVCMOS25;
NET "fmc0_tdc_ef1_i" LOC = F19;
NET "fmc0_tdc_ef1_i" IOSTANDARD = LVCMOS25;
NET "fmc0_tdc_ef2_i" LOC = E19;
NET "fmc0_tdc_ef2_i" IOSTANDARD = LVCMOS25;
NET "fmc0_tdc_term_en_3_o" LOC = F15;
NET "fmc0_tdc_term_en_3_o" IOSTANDARD = LVCMOS25;
NET "fmc0_tdc_term_en_4_o" LOC = E15;
NET "fmc0_tdc_term_en_4_o" IOSTANDARD = LVCMOS25;
NET "fmc0_tdc_term_en_5_o" LOC = F13;
NET "fmc0_tdc_term_en_5_o" IOSTANDARD = LVCMOS25;
NET "fmc0_tdc_led_status_o" LOC = E13;
NET "fmc0_tdc_led_status_o" IOSTANDARD = LVCMOS25;
NET "fmc0_tdc_led_trig4_o" LOC = L11;
NET "fmc0_tdc_led_trig4_o" IOSTANDARD = LVCMOS25;
NET "fmc0_tdc_led_trig5_o" LOC = K11;
NET "fmc0_tdc_led_trig5_o" IOSTANDARD = LVCMOS25;
NET "fmc0_tdc_pll_sclk_o" LOC = M15;
NET "fmc0_tdc_pll_sclk_o" IOSTANDARD = LVCMOS25;
NET "fmc0_tdc_pll_dac_sync_o" LOC = K15;
NET "fmc0_tdc_pll_dac_sync_o" IOSTANDARD = LVCMOS25;
NET "fmc0_tdc_pll_cs_n_o" LOC = L14;
NET "fmc0_tdc_pll_cs_n_o" IOSTANDARD = LVCMOS25;
NET "fmc0_tdc_cs_n_o" LOC = K14;
NET "fmc0_tdc_cs_n_o" IOSTANDARD = LVCMOS25;
NET "fmc0_tdc_err_flag_i" LOC = H16;
NET "fmc0_tdc_err_flag_i" IOSTANDARD = LVCMOS25;
NET "fmc0_tdc_int_flag_i" LOC = G16;
NET "fmc0_tdc_int_flag_i" IOSTANDARD = LVCMOS25;
NET "fmc0_tdc_start_dis_o" LOC = F11;
NET "fmc0_tdc_start_dis_o" IOSTANDARD = LVCMOS25;
NET "fmc0_tdc_stop_dis_o" LOC = E11;
NET "fmc0_tdc_stop_dis_o" IOSTANDARD = LVCMOS25;
NET "fmc0_tdc_pll_sdo_i" LOC = L13;
NET "fmc0_tdc_pll_sdo_i" IOSTANDARD = LVCMOS25;
NET "fmc0_tdc_pll_status_i" LOC = E9;
NET "fmc0_tdc_pll_status_i" IOSTANDARD = LVCMOS25;
NET "fmc0_tdc_pll_sdi_o" LOC = M13;
NET "fmc0_tdc_pll_sdi_o" IOSTANDARD = LVCMOS25;
NET "fmc0_tdc_start_from_fpga_o" LOC = F9;
NET "fmc0_tdc_start_from_fpga_o" IOSTANDARD = LVCMOS25;
NET "fmc0_tdc_data_bus_io[27]" LOC = E17;
NET "fmc0_tdc_data_bus_io[27]" IOSTANDARD = LVCMOS25;
NET "fmc0_tdc_data_bus_io[26]" LOC = F17;
NET "fmc0_tdc_data_bus_io[26]" IOSTANDARD = LVCMOS25;
NET "fmc0_tdc_data_bus_io[25]" LOC = F18;
NET "fmc0_tdc_data_bus_io[25]" IOSTANDARD = LVCMOS25;
NET "fmc0_tdc_data_bus_io[24]" LOC = G18;
NET "fmc0_tdc_data_bus_io[24]" IOSTANDARD = LVCMOS25;
NET "fmc0_tdc_data_bus_io[23]" LOC = F20;
NET "fmc0_tdc_data_bus_io[23]" IOSTANDARD = LVCMOS25;
NET "fmc0_tdc_data_bus_io[22]" LOC = G20;
NET "fmc0_tdc_data_bus_io[22]" IOSTANDARD = LVCMOS25;
NET "fmc0_tdc_data_bus_io[21]" LOC = E21;
NET "fmc0_tdc_data_bus_io[21]" IOSTANDARD = LVCMOS25;
NET "fmc0_tdc_data_bus_io[20]" LOC = F21;
NET "fmc0_tdc_data_bus_io[20]" IOSTANDARD = LVCMOS25;
NET "fmc0_tdc_data_bus_io[19]" LOC = K21;
NET "fmc0_tdc_data_bus_io[19]" IOSTANDARD = LVCMOS25;
NET "fmc0_tdc_data_bus_io[18]" LOC = L21;
NET "fmc0_tdc_data_bus_io[18]" IOSTANDARD = LVCMOS25;
NET "fmc0_tdc_data_bus_io[17]" LOC = L20;
NET "fmc0_tdc_data_bus_io[17]" IOSTANDARD = LVCMOS25;
NET "fmc0_tdc_data_bus_io[16]" LOC = M20;
NET "fmc0_tdc_data_bus_io[16]" IOSTANDARD = LVCMOS25;
NET "fmc0_tdc_data_bus_io[15]" LOC = F22;
NET "fmc0_tdc_data_bus_io[15]" IOSTANDARD = LVCMOS25;
NET "fmc0_tdc_data_bus_io[14]" LOC = G22;
NET "fmc0_tdc_data_bus_io[14]" IOSTANDARD = LVCMOS25;
NET "fmc0_tdc_data_bus_io[13]" LOC = L19;
NET "fmc0_tdc_data_bus_io[13]" IOSTANDARD = LVCMOS25;
NET "fmc0_tdc_data_bus_io[12]" LOC = M19;
NET "fmc0_tdc_data_bus_io[12]" IOSTANDARD = LVCMOS25;
NET "fmc0_tdc_data_bus_io[11]" LOC = E23;
NET "fmc0_tdc_data_bus_io[11]" IOSTANDARD = LVCMOS25;
NET "fmc0_tdc_data_bus_io[10]" LOC = F23;
NET "fmc0_tdc_data_bus_io[10]" IOSTANDARD = LVCMOS25;
NET "fmc0_tdc_data_bus_io[9]" LOC = A25;
NET "fmc0_tdc_data_bus_io[9]" IOSTANDARD = LVCMOS25;
NET "fmc0_tdc_data_bus_io[8]" LOC = B25;
NET "fmc0_tdc_data_bus_io[8]" IOSTANDARD = LVCMOS25;
NET "fmc0_tdc_data_bus_io[7]" LOC = G21;
NET "fmc0_tdc_data_bus_io[7]" IOSTANDARD = LVCMOS25;
NET "fmc0_tdc_data_bus_io[6]" LOC = C24;
NET "fmc0_tdc_data_bus_io[6]" IOSTANDARD = LVCMOS25;
NET "fmc0_tdc_data_bus_io[5]" LOC = H21;
NET "fmc0_tdc_data_bus_io[5]" IOSTANDARD = LVCMOS25;
NET "fmc0_tdc_data_bus_io[4]" LOC = D24;
NET "fmc0_tdc_data_bus_io[4]" IOSTANDARD = LVCMOS25;
NET "fmc0_tdc_data_bus_io[3]" LOC = D25;
NET "fmc0_tdc_data_bus_io[3]" IOSTANDARD = LVCMOS25;
NET "fmc0_tdc_data_bus_io[2]" LOC = E25;
NET "fmc0_tdc_data_bus_io[2]" IOSTANDARD = LVCMOS25;
NET "fmc0_tdc_data_bus_io[1]" LOC = H22;
NET "fmc0_tdc_data_bus_io[1]" IOSTANDARD = LVCMOS25;
NET "fmc0_tdc_data_bus_io[0]" LOC = J22;
NET "fmc0_tdc_data_bus_io[0]" IOSTANDARD = LVCMOS25;
NET "fmc0_tdc_address_o[3]" LOC = F14;
NET "fmc0_tdc_address_o[3]" IOSTANDARD = LVCMOS25;
NET "fmc0_tdc_address_o[2]" LOC = G14;
NET "fmc0_tdc_address_o[2]" IOSTANDARD = LVCMOS25;
NET "fmc0_tdc_address_o[1]" LOC = H14;
NET "fmc0_tdc_address_o[1]" IOSTANDARD = LVCMOS25;
NET "fmc0_tdc_address_o[0]" LOC = J14;
NET "fmc0_tdc_address_o[0]" IOSTANDARD = LVCMOS25;
NET "fmc0_tdc_oe_n_o" LOC = G12;
NET "fmc0_tdc_oe_n_o" IOSTANDARD = LVCMOS25;
NET "fmc0_tdc_rd_n_o" LOC = A15;
NET "fmc0_tdc_rd_n_o" IOSTANDARD = LVCMOS25;
NET "fmc0_tdc_wr_n_o" LOC = B15;
NET "fmc0_tdc_wr_n_o" IOSTANDARD = LVCMOS25;
NET "fmc0_tdc_enable_inputs_o" LOC = J12;
NET "fmc0_tdc_enable_inputs_o" IOSTANDARD = LVCMOS25;
NET "fmc0_onewire_b" LOC = H12;
NET "fmc0_onewire_b" IOSTANDARD = LVCMOS25;

#----------------------------------------
# FMC1
#----------------------------------------
# ucfgen pin assignments for mezzanine fmc-tdc-v3 slot 1
NET "fmc1_tdc_acam_refclk_p_i" LOC = AF16;
NET "fmc1_tdc_acam_refclk_p_i" IOSTANDARD = LVDS_25;
NET "fmc1_tdc_acam_refclk_n_i" LOC = AG16;
NET "fmc1_tdc_acam_refclk_n_i" IOSTANDARD = LVDS_25;
NET "fmc1_tdc_clk_125m_p_i" LOC = AH16;
NET "fmc1_tdc_clk_125m_p_i" IOSTANDARD = LVDS_25;
NET "fmc1_tdc_clk_125m_n_i" LOC = AK16;
NET "fmc1_tdc_clk_125m_n_i" IOSTANDARD = LVDS_25;
NET "fmc1_tdc_led_trig1_o" LOC = Y20;
NET "fmc1_tdc_led_trig1_o" IOSTANDARD = LVCMOS25;
NET "fmc1_tdc_led_trig2_o" LOC = W19;
NET "fmc1_tdc_led_trig2_o" IOSTANDARD = LVCMOS25;
NET "fmc1_tdc_led_trig3_o" LOC = Y19;
NET "fmc1_tdc_led_trig3_o" IOSTANDARD = LVCMOS25;
NET "fmc1_tdc_term_en_1_o" LOC = AJ17;
NET "fmc1_tdc_term_en_1_o" IOSTANDARD = LVCMOS25;
NET "fmc1_tdc_term_en_2_o" LOC = AK17;
NET "fmc1_tdc_term_en_2_o" IOSTANDARD = LVCMOS25;
NET "fmc1_tdc_ef1_i" LOC = AB14;
NET "fmc1_tdc_ef1_i" IOSTANDARD = LVCMOS25;
NET "fmc1_tdc_ef2_i" LOC = AC14;
NET "fmc1_tdc_ef2_i" IOSTANDARD = LVCMOS25;
NET "fmc1_tdc_term_en_3_o" LOC = AE19;
NET "fmc1_tdc_term_en_3_o" IOSTANDARD = LVCMOS25;
NET "fmc1_tdc_term_en_4_o" LOC = AF19;
NET "fmc1_tdc_term_en_4_o" IOSTANDARD = LVCMOS25;
NET "fmc1_tdc_term_en_5_o" LOC = AE24;
NET "fmc1_tdc_term_en_5_o" IOSTANDARD = LVCMOS25;
NET "fmc1_tdc_led_status_o" LOC = AF24;
NET "fmc1_tdc_led_status_o" IOSTANDARD = LVCMOS25;
NET "fmc1_tdc_led_trig4_o" LOC = Y21;
NET "fmc1_tdc_led_trig4_o" IOSTANDARD = LVCMOS25;
NET "fmc1_tdc_led_trig5_o" LOC = AA21;
NET "fmc1_tdc_led_trig5_o" IOSTANDARD = LVCMOS25;
NET "fmc1_tdc_pll_sclk_o" LOC = AF25;
NET "fmc1_tdc_pll_sclk_o" IOSTANDARD = LVCMOS25;
NET "fmc1_tdc_pll_dac_sync_o" LOC = AG25;
NET "fmc1_tdc_pll_dac_sync_o" IOSTANDARD = LVCMOS25;
NET "fmc1_tdc_pll_cs_n_o" LOC = AC19;
NET "fmc1_tdc_pll_cs_n_o" IOSTANDARD = LVCMOS25;
NET "fmc1_tdc_cs_n_o" LOC = AD19;
NET "fmc1_tdc_cs_n_o" IOSTANDARD = LVCMOS25;
NET "fmc1_tdc_err_flag_i" LOC = Y17;
NET "fmc1_tdc_err_flag_i" IOSTANDARD = LVCMOS25;
NET "fmc1_tdc_int_flag_i" LOC = AA17;
NET "fmc1_tdc_int_flag_i" IOSTANDARD = LVCMOS25;
NET "fmc1_tdc_start_dis_o" LOC = AB17;
NET "fmc1_tdc_start_dis_o" IOSTANDARD = LVCMOS25;
NET "fmc1_tdc_stop_dis_o" LOC = AD17;
NET "fmc1_tdc_stop_dis_o" IOSTANDARD = LVCMOS25;
NET "fmc1_tdc_pll_sdo_i" LOC = AC20;
NET "fmc1_tdc_pll_sdo_i" IOSTANDARD = LVCMOS25;
NET "fmc1_tdc_pll_status_i" LOC = AD24;
NET "fmc1_tdc_pll_status_i" IOSTANDARD = LVCMOS25;
NET "fmc1_tdc_pll_sdi_o" LOC = AB20;
NET "fmc1_tdc_pll_sdi_o" IOSTANDARD = LVCMOS25;
NET "fmc1_tdc_start_from_fpga_o" LOC = AC24;
NET "fmc1_tdc_start_from_fpga_o" IOSTANDARD = LVCMOS25;
NET "fmc1_tdc_data_bus_io[27]" LOC = AA15;
NET "fmc1_tdc_data_bus_io[27]" IOSTANDARD = LVCMOS25;
NET "fmc1_tdc_data_bus_io[26]" LOC = Y15;
NET "fmc1_tdc_data_bus_io[26]" IOSTANDARD = LVCMOS25;
NET "fmc1_tdc_data_bus_io[25]" LOC = AD15;
NET "fmc1_tdc_data_bus_io[25]" IOSTANDARD = LVCMOS25;
NET "fmc1_tdc_data_bus_io[24]" LOC = AC15;
NET "fmc1_tdc_data_bus_io[24]" IOSTANDARD = LVCMOS25;
NET "fmc1_tdc_data_bus_io[23]" LOC = AB16;
NET "fmc1_tdc_data_bus_io[23]" IOSTANDARD = LVCMOS25;
NET "fmc1_tdc_data_bus_io[22]" LOC = Y16;
NET "fmc1_tdc_data_bus_io[22]" IOSTANDARD = LVCMOS25;
NET "fmc1_tdc_data_bus_io[21]" LOC = AF15;
NET "fmc1_tdc_data_bus_io[21]" IOSTANDARD = LVCMOS25;
NET "fmc1_tdc_data_bus_io[20]" LOC = AE15;
NET "fmc1_tdc_data_bus_io[20]" IOSTANDARD = LVCMOS25;
NET "fmc1_tdc_data_bus_io[19]" LOC = AA14;
NET "fmc1_tdc_data_bus_io[19]" IOSTANDARD = LVCMOS25;
NET "fmc1_tdc_data_bus_io[18]" LOC = Y14;
NET "fmc1_tdc_data_bus_io[18]" IOSTANDARD = LVCMOS25;
NET "fmc1_tdc_data_bus_io[17]" LOC = Y13;
NET "fmc1_tdc_data_bus_io[17]" IOSTANDARD = LVCMOS25;
NET "fmc1_tdc_data_bus_io[16]" LOC = W14;
NET "fmc1_tdc_data_bus_io[16]" IOSTANDARD = LVCMOS25;
NET "fmc1_tdc_data_bus_io[15]" LOC = AE12;
NET "fmc1_tdc_data_bus_io[15]" IOSTANDARD = LVCMOS25;
NET "fmc1_tdc_data_bus_io[14]" LOC = AD12;
NET "fmc1_tdc_data_bus_io[14]" IOSTANDARD = LVCMOS25;
NET "fmc1_tdc_data_bus_io[13]" LOC = AF11;
NET "fmc1_tdc_data_bus_io[13]" IOSTANDARD = LVCMOS25;
NET "fmc1_tdc_data_bus_io[12]" LOC = AE11;
NET "fmc1_tdc_data_bus_io[12]" IOSTANDARD = LVCMOS25;
NET "fmc1_tdc_data_bus_io[11]" LOC = AC12;
NET "fmc1_tdc_data_bus_io[11]" IOSTANDARD = LVCMOS25;
NET "fmc1_tdc_data_bus_io[10]" LOC = AB12;
NET "fmc1_tdc_data_bus_io[10]" IOSTANDARD = LVCMOS25;
NET "fmc1_tdc_data_bus_io[9]" LOC = AE10;
NET "fmc1_tdc_data_bus_io[9]" IOSTANDARD = LVCMOS25;
NET "fmc1_tdc_data_bus_io[8]" LOC = AD10;
NET "fmc1_tdc_data_bus_io[8]" IOSTANDARD = LVCMOS25;
NET "fmc1_tdc_data_bus_io[7]" LOC = AH8;
NET "fmc1_tdc_data_bus_io[7]" IOSTANDARD = LVCMOS25;
NET "fmc1_tdc_data_bus_io[6]" LOC = AK15;
NET "fmc1_tdc_data_bus_io[6]" IOSTANDARD = LVCMOS25;
NET "fmc1_tdc_data_bus_io[5]" LOC = AG8;
NET "fmc1_tdc_data_bus_io[5]" IOSTANDARD = LVCMOS25;
NET "fmc1_tdc_data_bus_io[4]" LOC = AJ15;
NET "fmc1_tdc_data_bus_io[4]" IOSTANDARD = LVCMOS25;
NET "fmc1_tdc_data_bus_io[3]" LOC = AF13;
NET "fmc1_tdc_data_bus_io[3]" IOSTANDARD = LVCMOS25;
NET "fmc1_tdc_data_bus_io[2]" LOC = AE13;
NET "fmc1_tdc_data_bus_io[2]" IOSTANDARD = LVCMOS25;
NET "fmc1_tdc_data_bus_io[1]" LOC = AD11;
NET "fmc1_tdc_data_bus_io[1]" IOSTANDARD = LVCMOS25;
NET "fmc1_tdc_data_bus_io[0]" LOC = AC11;
NET "fmc1_tdc_data_bus_io[0]" IOSTANDARD = LVCMOS25;
NET "fmc1_tdc_address_o[3]" LOC = AF23;
NET "fmc1_tdc_address_o[3]" IOSTANDARD = LVCMOS25;
NET "fmc1_tdc_address_o[2]" LOC = AE23;
NET "fmc1_tdc_address_o[2]" IOSTANDARD = LVCMOS25;
NET "fmc1_tdc_address_o[1]" LOC = AF21;
NET "fmc1_tdc_address_o[1]" IOSTANDARD = LVCMOS25;
NET "fmc1_tdc_address_o[0]" LOC = AE21;
NET "fmc1_tdc_address_o[0]" IOSTANDARD = LVCMOS25;
NET "fmc1_tdc_oe_n_o" LOC = AD22;
NET "fmc1_tdc_oe_n_o" IOSTANDARD = LVCMOS25;
NET "fmc1_tdc_rd_n_o" LOC = AD16;
NET "fmc1_tdc_rd_n_o" IOSTANDARD = LVCMOS25;
NET "fmc1_tdc_wr_n_o" LOC = AC16;
NET "fmc1_tdc_wr_n_o" IOSTANDARD = LVCMOS25;
NET "fmc1_tdc_enable_inputs_o" LOC = AA19;
NET "fmc1_tdc_enable_inputs_o" IOSTANDARD = LVCMOS25;
NET "fmc1_onewire_b" LOC = AB19;
NET "fmc1_onewire_b" IOSTANDARD = LVCMOS25;


#----------------------------------------
# Clock stuff
#----------------------------------------
NET "fp_gpio3_b" TNM_NET = fp_gpio3;
TIMESPEC TS_fp_gpio3 = PERIOD "fp_gpio3" 100 ns HIGH 50%;


# 125MHz TDC PLL clock
NET "fmc0_tdc_clk_125m" TNM_NET = "fmc0_tdc_clk_125m";
NET "fmc1_tdc_clk_125m" TNM_NET = "fmc1_tdc_clk_125m";

NET "fmc0_tdc_clk_125m_n_i" TNM_NET = "fmc0_tdc_clk_125m_n_i";
TIMESPEC TS_fmc0_tdc_tdc_125m_clk_n_i = PERIOD "fmc0_tdc_clk_125m_n_i" 8 ns HIGH 50 %;

NET "fmc0_tdc_clk_125m_p_i" TNM_NET = "fmc0_tdc_clk_125m_p_i";
TIMESPEC TS_fmc0_tdc_clk_125m_p_i = PERIOD "fmc0_tdc_clk_125m_p_i" 8 ns HIGH 50 %;

NET "fmc1_tdc_clk_125m_p_i" TNM_NET = "fmc1_tdc_clk_125m_p_i";
TIMESPEC TS_fmc1_tdc_tdc_125m_clk_p_i = PERIOD "fmc1_tdc_clk_125m_p_i" 8 ns HIGH 50 %;

NET "fmc1_tdc_clk_125m_n_i" TNM_NET = "fmc1_tdc_clk_125m_n_i";
TIMESPEC TS_fmc1_tdc_tdc_125m_clk_n_i = PERIOD "fmc1_tdc_clk_125m_n_i" 8 ns HIGH 50 %;

# TS_IGNORE
TIMESPEC ts_ignore_xclock1 = FROM "clk_sys_62m5" TO "fmc0_tdc_clk_125m" 20ns DATAPATHONLY;
TIMESPEC ts_ignore_xclock2 = FROM "fmc0_tdc_clk_125m" TO "clk_sys_62m5" 20ns DATAPATHONLY;

TIMESPEC ts_ignore_xclock3 = FROM "clk_sys_62m5" TO "fmc1_tdc_clk_125m" 20ns DATAPATHONLY;
TIMESPEC ts_ignore_xclock4 = FROM "fmc1_tdc_clk_125m" TO "clk_sys_62m5" 20ns DATAPATHONLY;

TIMESPEC ts_ignore_xclock4 = FROM "clk_20m_vcxo_i" TO "clk_sys_62m5" 200ns DATAPATHONLY;
TIMESPEC ts_ignore_xclock4 = FROM "clk_sys_62m5" TO "clk_20m_vcxo_i" 200ns DATAPATHONLY;
#TIMESPEC TS_gen_with_wr_phy_U_GTP_ch1_gtp_clkout_int_1_ = PERIOD "gen_with_wr_phy.U_GTP/ch1_gtp_clkout_int<1>" 8 ns HIGH 50 %;
#Created by Constraints Editor (xc6slx150t-fgg900-3) - 2017/12/06
#NET "cmp_xwrc_board_svec/cmp_xwrc_platform/gen_phy_spartan6.cmp_gtp/ch1_gtp_clkout_int<1>" TNM_NET = cmp_xwrc_board_svec/cmp_xwrc_platform/gen_phy_spartan6.cmp_gtp/ch1_gtp_clkout_int<1>;
#TIMESPEC TS_cmp_xwrc_board_svec_cmp_xwrc_platform_gen_phy_spartan6_cmp_gtp_ch1_gtp_clkout_int_1_ = PERIOD "cmp_xwrc_board_svec/cmp_xwrc_platform/gen_phy_spartan6.cmp_gtp/ch1_gtp_clkout_int<1>" 8 ns HIGH 50%;




# PlanAhead Generated miscellaneous constraints 
NET "fmc0_tdc_address_o[3]" SLEW = FAST;
NET "fmc0_tdc_address_o[2]" SLEW = FAST;
NET "fmc0_tdc_address_o[1]" SLEW = FAST;
NET "fmc0_tdc_address_o[0]" SLEW = FAST;
NET "fmc0_tdc_data_bus_io[27]" SLEW = FAST;
NET "fmc0_tdc_data_bus_io[26]" SLEW = FAST;
NET "fmc0_tdc_data_bus_io[25]" SLEW = FAST;
NET "fmc0_tdc_data_bus_io[24]" SLEW = FAST;
NET "fmc0_tdc_data_bus_io[23]" SLEW = FAST;
NET "fmc0_tdc_data_bus_io[22]" SLEW = FAST;
NET "fmc0_tdc_data_bus_io[21]" SLEW = FAST;
NET "fmc0_tdc_data_bus_io[20]" SLEW = FAST;
NET "fmc0_tdc_data_bus_io[19]" SLEW = FAST;
NET "fmc0_tdc_data_bus_io[18]" SLEW = FAST;
NET "fmc0_tdc_data_bus_io[17]" SLEW = FAST;
NET "fmc0_tdc_data_bus_io[16]" SLEW = FAST;
NET "fmc0_tdc_data_bus_io[15]" SLEW = FAST;
NET "fmc0_tdc_data_bus_io[14]" SLEW = FAST;
NET "fmc0_tdc_data_bus_io[13]" SLEW = FAST;
NET "fmc0_tdc_data_bus_io[12]" SLEW = FAST;
NET "fmc0_tdc_data_bus_io[11]" SLEW = FAST;
NET "fmc0_tdc_data_bus_io[10]" SLEW = FAST;
NET "fmc0_tdc_data_bus_io[9]" SLEW = FAST;
NET "fmc0_tdc_data_bus_io[8]" SLEW = FAST;
NET "fmc0_tdc_data_bus_io[7]" SLEW = FAST;
NET "fmc0_tdc_data_bus_io[6]" SLEW = FAST;
NET "fmc0_tdc_data_bus_io[5]" SLEW = FAST;
NET "fmc0_tdc_data_bus_io[4]" SLEW = FAST;
NET "fmc0_tdc_data_bus_io[3]" SLEW = FAST;
NET "fmc0_tdc_data_bus_io[2]" SLEW = FAST;
NET "fmc0_tdc_data_bus_io[1]" SLEW = FAST;
NET "fmc0_tdc_data_bus_io[0]" SLEW = FAST;
NET "fmc1_tdc_address_o[3]" SLEW = FAST;
NET "fmc1_tdc_address_o[2]" SLEW = FAST;
NET "fmc1_tdc_address_o[1]" SLEW = FAST;
NET "fmc1_tdc_address_o[0]" SLEW = FAST;
NET "fmc1_tdc_data_bus_io[27]" SLEW = FAST;
NET "fmc1_tdc_data_bus_io[26]" SLEW = FAST;
NET "fmc1_tdc_data_bus_io[25]" SLEW = FAST;
NET "fmc1_tdc_data_bus_io[24]" SLEW = FAST;
NET "fmc1_tdc_data_bus_io[23]" SLEW = FAST;
NET "fmc1_tdc_data_bus_io[22]" SLEW = FAST;
NET "fmc1_tdc_data_bus_io[21]" SLEW = FAST;
NET "fmc1_tdc_data_bus_io[20]" SLEW = FAST;
NET "fmc1_tdc_data_bus_io[19]" SLEW = FAST;
NET "fmc1_tdc_data_bus_io[18]" SLEW = FAST;
NET "fmc1_tdc_data_bus_io[17]" SLEW = FAST;
NET "fmc1_tdc_data_bus_io[16]" SLEW = FAST;
NET "fmc1_tdc_data_bus_io[15]" SLEW = FAST;
NET "fmc1_tdc_data_bus_io[14]" SLEW = FAST;
NET "fmc1_tdc_data_bus_io[13]" SLEW = FAST;
NET "fmc1_tdc_data_bus_io[12]" SLEW = FAST;
NET "fmc1_tdc_data_bus_io[11]" SLEW = FAST;
NET "fmc1_tdc_data_bus_io[10]" SLEW = FAST;
NET "fmc1_tdc_data_bus_io[9]" SLEW = FAST;
NET "fmc1_tdc_data_bus_io[8]" SLEW = FAST;
NET "fmc1_tdc_data_bus_io[7]" SLEW = FAST;
NET "fmc1_tdc_data_bus_io[6]" SLEW = FAST;
NET "fmc1_tdc_data_bus_io[5]" SLEW = FAST;
NET "fmc1_tdc_data_bus_io[4]" SLEW = FAST;
NET "fmc1_tdc_data_bus_io[3]" SLEW = FAST;
NET "fmc1_tdc_data_bus_io[2]" SLEW = FAST;
NET "fmc1_tdc_data_bus_io[1]" SLEW = FAST;
NET "fmc1_tdc_data_bus_io[0]" SLEW = FAST;

#INST "*/U_SOFTPLL/U_Wrapped_Softpll/gen_feedback_dmtds*/clk_in" TNM = skew_limit;
#INST "*/U_SOFTPLL/U_Wrapped_Softpll/gen_ref_dmtds*/clk_in" TNM = skew_limit;

#TIMESPEC TS_skew_limit = FROM "skew_limit" TO "FFS" 1 ns DATAPATHONLY;

